

#spo {
    height: 20%;
    background-color: #3498db; 
    padding: 20px;

  }
  #sum{
    list-style:none;
    margin-top: 20px;
  }
  #sri{
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  